# Xcode
#
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcscheme
xcdebugger/
profile
*.xccrashpoint
*sportApp.xcodeproj
sportApp.xcodeproj
sportApp.xcodeproj/

# CocoaPods
Pods/
# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Bundler
Gemfile.lock

# Other
*.DS_Store
*.swp
